[submodule "ext/kaitai_struct_compiler"]
	path = ext/kaitai_struct_compiler
	url = https://github.com/rish9101/kaitai_struct_compiler.git
	branch = serialization_and_generation
[submodule "ext/kaitai_struct_python_runtime"]
	path = ext/kaitai_struct_python_runtime
	url = https://github.com/rish9101/kaitai_struct_python_runtime.git
	branch = serialization_and_generation
[submodule "lib/libfaketime"]
	path = lib/libfaketime
	url = https://github.com/wolfcw/libfaketime.git
[submodule "scripts"]
	path = scripts
	url = https://gist.github.com/89093a2b335979759062f86dfc27af65.git
