#python>=3.9
decorator==4.4.2
networkx==2.5.1
scapy==2.4.5
posix-ipc==1.0.5
pyelftools @ git+https://github.com/eliben/pyelftools.git
websockets==10.0
pygraphviz==1.7
#libgraphviz-dev (from apt)
readline==6.2.4.1
pyroute2==0.6.7
#setcap cap_net_admin,cap_sys_admin,cap_dac_override+eip python3.9